<!DOCTYPE html>
<html>
<body>

<h1>Burrow#index</h1>

<p>Click the button to get your coordinates.</p>


<button onclick="getLocation()">Update your location, PLEASE</button>


<p id='demo'></p>

<p><%= link_to "See users by location", places_path %></p>
<p><%= link_to "See where all users are currently", members_path %></p>
<p><%= link_to "Users' last check-in times", time_path %></p>

</body>
</html>
