<!DOCTYPE html>
<html>
<body>

<h1>Burrow#index</h1>

<p>Click the button to get your coordinates.</p>


<button onclick="getLocation()">Update your location, PLEASE</button>


<p id='demo'></p>

<ul>
	<% @locations.each do |location| %>
		<li><%= location.latitude %></li>
		<li><%= location.longitude %></li>
		<li><%= location.user_id %></li>
	<% end %>
</ul>


</body>
</html>
