<!-- Will display all current members of the family group -->
<h1>Burrow#members</h1>

<% @users.each do |user| %>
	<h3> <%= user.email %> is currently at <%= user.location.place_name %> as of <%= user.updated_at %></h>
<% end %>