<!-- Will display a log of all check-ins within the last hour -->
<h1>Burrow#time</h1>

<% @users.each do |user| %>
	<h3><%= user.email %> last updated their location at <%= user.updated_at %></h3>
<% end %>