<!DOCTYPE html>
<html>
<head>
  <title>WeasleyClock</title>

	<%= javascript_include_tag 'application' %> 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>

var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        // x.innerHTML = "Geolocation is not supported by this browser.";
    }
}


function showPosition(position) {
    // x.innerHTML = "Latitude: " + position.coords.latitude + 
    // "<br>Longitude: " + position.coords.longitude + position.coords.accuracy;	
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    submitData(lat, lon);
}


function submitData(lat, lon) {
	$.ajax({
		type:"POST",
		url: "/",
		data: {
				latitude: lat,
				longitude: lon
		},
	})
}

</script>
<div class='container'>
	<%= yield %>
</div>



</body>
</html>
